name: 'Deploy GitHub Pages'
run-name: 'Deploy GitHub Pages'

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:

  code-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version-file: flutter_tilt_example/pubspec.yaml
      - name: Prepare dependencies (flutter_tilt_example)
        run: |
          cd flutter_tilt_example
          flutter --version
          flutter pub get
      - name: Check Dart code formatting
        run: |
          dart format . -o none --set-exit-if-changed
      - name: Analyze Dart code
        run: |
          flutter analyze .
      - name: Prepare dependencies (flutter_tilt_book)
        run: |
          cd flutter_tilt_book
          node --version
          npm --version
          npm ci
      - name: Check code formatting
        run: |
          cd flutter_tilt_book
          npm run lint
          npm run format:check

  deploy:
    needs: [code-analysis]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version-file: flutter_tilt_example/pubspec.yaml
      - name: Prepare dependencies
        run: |
          cd flutter_tilt_example
          flutter --version
          flutter pub get
          cd ../flutter_tilt_book
          node --version
          npm --version
          npm ci
      - name: Build flutter_tilt_example Web (wasm)
        run: |
          cd flutter_tilt_book
          bash tools/build-flutter-tilt-example.sh
        shell: bash
      - name: Build flutter_tilt_bool Web
        run: |
          cd flutter_tilt_book
          npm run generate-dist-scripts
          npm run build
        shell: bash
        env:
          NEXT_PUBLIC_FLUTTER_TILT_EXAMPLE_URL: /flutter_tilt_book
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: 'pages-book'
          folder: 'flutter_tilt_book/out'
