name: 'runnable'
run-name: 'Runnable'

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - '**.md'

jobs:
  code-analysis:
    name: 'Code Analysis'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: flutter_tilt_example/pubspec.yaml
      - name: Prepare dependencies (flutter_tilt_example)
        run: |
          cd flutter_tilt_example
          flutter --version
          flutter pub get
      - name: Check Dart code formatting
        run: |
          cd flutter_tilt_book
          dart format . -o none --set-exit-if-changed
      - name: Analyze Dart code
        run: |
          flutter analyze . --no-fatal-infos
      - name: Prepare dependencies (flutter_tilt_book)
        run: |
          cd flutter_tilt_book
          node --version
          npm --version
          npm ci
      - name: Check code formatting
        run: |
          cd flutter_tilt_book
          npm run lint
          npm run format:check

  test-build:
    needs: [code-analysis]
    strategy:
      matrix:
        include:
          - os: macos-latest
            build: iOS
          - os: macos-latest
            build: macOS
          - os: windows-latest
            build: Android
          - os: windows-latest
            build: Windows
          - os: windows-latest
            build: Web
    name: 'Test Build :: ${{ matrix.os }} :: ${{ matrix.build }}'
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./flutter_tilt_example
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: flutter_tilt_example/pubspec.yaml
      - name: Prepare dependencies
        run: |
          dart --version
          flutter --version
          flutter pub get
      - name: Build iOS
        if: matrix.build == 'iOS'
        run: flutter build ios --no-codesign
      - name: Build macOS
        if: matrix.build == 'macOS'
        run: flutter build macos --debug
      - name: Build Android
        if: matrix.build == 'Android'
        run: flutter build apk --debug
      - name: Build Windows
        if: matrix.build == 'Windows'
        run: flutter build windows --debug
      - name: Build Web
        if: matrix.build == 'Web'
        run: flutter build web --wasm --release
